In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
df = pd.read_csv('../Felles/TrondheimHousingDataCleaned.csv', sep = ',')

In [3]:
df

,Matrikkel / Org-Anr,Address,Housing type,Primary room,Usable area,Gross area,Year of construction,Floor,Plot size,Last sold,...,Number of bedrooms,Registered date,Turnover rate,Broker,Postal code,Area name,Broker encoded,Housing type encoded,Balcony_Yes,Parking_Yes
0,5001-20/88/0/0,"Skogvegen 32, 7058 CHARLOTTENLUND",Selveier enebolig,441,517,567,2007,0,970.8,2021-02-28,...,8,2021-02-22,6,Eiendomsmegler 1,7058,CHARLOTTENLUND,3,4,0,0
1,5001-404/418/0/69,"Tellefsens gate 8, 7030 TRONDHEIM",Selveierleilighet,135,144,0,2019,5,3673.0,2021-03-01,...,3,2021-01-28,32,Eiendomsmegler 1,7030,TRONDHEIM,3,7,1,0
2,5001-76/267/0/15,"Siriusvegen 10 A, 7037 TRONDHEIM",Selveierleilighet,74,74,81,1995,3,9300.8,2021-03-01,...,2,2021-02-23,6,Eiendomsmegler 1,7037,TRONDHEIM,3,7,1,0
3,5001-52/224/0/128,"Heggdalsringen 65, 7049 TRONDHEIM",Selveierleilighet,69,73,0,2019,5,4572.6,2021-03-01,...,2,2021-03-01,0,Other,7049,TRONDHEIM,8,7,0,0
4,5001-410/683/0/34,"Dyre Halses gate 11, 7042 TRONDHEIM",Selveierleilighet,55,55,60,2004,7,1043.2,2021-03-01,...,2,2021-02-25,4,DNB Eiendom,7042,TRONDHEIM,1,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20583,948656132/1052,"Stallmestervegen 4 B, 7046 TRONDHEIM",Borettslagsleilighet,60,60,66,1973,2,27938.2,2024-02-28,...,1,2024-02-15,13,DNB Eiendom,7046,TRONDHEIM,1,3,0,0
20584,950373520/388,"Othilienborgvegen 51 C, 7033 TRONDHEIM",Borettslagsleilighet,72,81,0,1967,2,996.4,2024-02-28,...,2,2024-02-20,8,Eiendomsmegler 1,7033,TRONDHEIM,3,3,0,0
20585,5001-316/723/0/9,"Industriveien 1 K, 7072 HEIMDAL",Selveierleilighet,47,52,0,2020,2,2017.8,2024-02-28,...,1,2024-02-16,12,Eiendomsmegler 1,7072,HEIMDAL,3,7,1,0
20586,5001-49/277/0/29,"Stokkbekken 134, 7048 TRONDHEIM",Selveierleilighet,71,87,96,2014,2,5289.2,2024-02-28,...,2,2024-02-17,11,Heimdal Eiendomsmegling,7048,TRONDHEIM,4,7,1,0
20587,950117427/202,"Casper Lundes veg 6 E, 7098 SAUPSTAD",Borettslagsleilighet,78,100,0,1971,2,100498.6,2024-02-28,...,3,2024-02-16,12,Eiendomsmegler 1,7098,SAUPSTAD,3,3,0,0

In [4]:
df.describe()

,Primary room,Usable area,Gross area,Year of construction,Floor,Plot size,Price,Joint debt at last sale,Total price at last sale,Number of rooms,Number of bedrooms,Turnover rate,Postal code,Broker encoded,Housing type encoded,Balcony_Yes,Parking_Yes
count,20588.000000,20588.000000,20588.000000,20588.000000,20588.000000,20588.000000,2.058800e+04,2.058800e+04,2.058800e+04,20588.000000,20588.000000,20588.000000,20588.000000,20588.000000,20588.000000,20588.000000,20588.000000
mean,72.513309,92.940985,50.791140,1984.127356,1.904750,10554.718656,4.236539e+06,9.459922e+04,4.331139e+06,2.420731,1.910336,22.470711,7056.192734,5.136342,5.244803,0.525840,0.080387
std,56.951564,62.931789,68.666475,36.546846,1.723606,23836.429002,2.133117e+06,2.254009e+05,2.076548e+06,1.527260,1.423841,49.163449,70.029985,2.905636,1.860619,0.499344,0.271897
min,0.000000,0.000000,0.000000,1700.000000,0.000000,0.000000,2.400000e+05,0.000000e+00,2.400000e+05,0.000000,0.000000,0.000000,7010.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,52.000000,0.000000,1963.000000,1.000000,625.000000,2.850000e+06,0.000000e+00,2.990000e+06,2.000000,1.000000,6.000000,7029.000000,3.000000,3.000000,0.000000,0.000000
50%,65.000000,74.000000,32.000000,1990.000000,2.000000,1827.300000,3.620000e+06,0.000000e+00,3.717040e+06,3.000000,2.000000,9.000000,7045.000000,4.000000,6.000000,1.000000,0.000000
75%,96.000000,112.000000,80.000000,2017.000000,3.000000,6283.200000,4.995000e+06,8.948850e+04,5.000000e+06,3.000000,3.000000,15.000000,7066.000000,8.000000,7.000000,1.000000,0.000000
max,468.000000,1177.000000,1000.000000,2024.000000,15.000000,194023.000000,2.600000e+07,3.431000e+06,2.600000e+07,13.000000,12.000000,1493.000000,7549.000000,11.000000,7.000000,1.000000,1.000000

In [5]:
df['Broker encoded'].value_counts()

3     6122
8     4150
4     2806
1     2045
10    1647
9     1371
7     1093
2      727
5      352
6      177
0       82
11      16
Name: Broker encoded, dtype: int64

In [6]:
df['Housing type encoded'].value_counts()

7    9590
3    5670
4    2229
6    1409
5    1184
1     424
2      63
0      19
Name: Housing type encoded, dtype: int64