In [453]:
import numpy as np
import pandas as pd

In [454]:
df = pd.read_csv('../Felles/TrondheimHousingDataCleaned.csv', sep = ',')
blr = pd.read_csv('../Nore/boliglånsrente.csv', encoding = 'latin-1', sep = ';')

In [455]:
blr

       måned Renter på nye boliglån
0    2013M12                   3,98
1    2014M01                   3,97
2    2014M02                   3,97
3    2014M03                   3,96
4    2014M04                   3,87
..       ...                    ...
117  2023M09                   5,34
118  2023M10                   5,46
119  2023M11                   5,54
120  2023M12                   5,56
121  2024M01                   5,62

[122 rows x 2 columns]

In [456]:
blr['Year'] = blr['måned']
for i in range(len(blr['måned'])):
    blr['Year'][i] = blr['måned'][i][:4]
    blr['måned'][i] = blr['måned'][i][5:]

In [457]:
type(blr['Year'][0])

str

In [458]:
years = ['2021', '2022', '2023']
HLR = blr[blr['Year'].isin(years)]
HLR['Year'] = HLR['Year'].astype(int)
HLR

/var/folders/9d/bmjch7mj49gdkvs7r09zql1w0000gn/T/ipykernel_18334/1285362241.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HLR['Year'] = HLR['Year'].astype(int)

    måned Renter på nye boliglån  Year
85     01                   1,78  2021
86     02                   1,77  2021
87     03                   1,77  2021
88     04                   1,77  2021
89     05                   1,76  2021
90     06                   1,75  2021
91     07                   1,75  2021
92     08                   1,74  2021
93     09                   1,75  2021
94     10                   1,86  2021
95     11                   1,91  2021
96     12                   1,93  2021
97     01                   2,07  2022
98     02                   2,12  2022
99     03                   2,16  2022
100    04                   2,31  2022
101    05                   2,36  2022
102    06                   2,40  2022
103    07                   2,69  2022
104    08                   2,89  2022
105    09                   3,29  2022
106    10                   3,66  2022
107    11                   3,88  2022
108    12                   3,99  2022
109    01                   4,17  2023
110    02                   4,19  2023
111    03                   4,22  2023
112    04                   4,38  2023
113    05                   4,52  2023
114    06                   4,69  2023
115    07                   4,98  2023
116    08                   5,19  2023
117    09                   5,34  2023
118    10                   5,46  2023
119    11                   5,54  2023
120    12                   5,56  2023

In [459]:
HLR.rename(columns = {'måned': 'Month',
                         'Renter på nye boliglån': 'Borrowing rate%'}, inplace = True)
HLR['Month'] = HLR['Month'].astype(int)
HLR.reset_index(inplace = True, drop= 'First')

/var/folders/9d/bmjch7mj49gdkvs7r09zql1w0000gn/T/ipykernel_18334/3980810582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HLR.rename(columns = {'måned': 'Month',
/var/folders/9d/bmjch7mj49gdkvs7r09zql1w0000gn/T/ipykernel_18334/3980810582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HLR['Month'] = HLR['Month'].astype(int)

In [460]:
HLR

    Month Borrowing rate%  Year
0       1            1,78  2021
1       2            1,77  2021
2       3            1,77  2021
3       4            1,77  2021
4       5            1,76  2021
5       6            1,75  2021
6       7            1,75  2021
7       8            1,74  2021
8       9            1,75  2021
9      10            1,86  2021
10     11            1,91  2021
11     12            1,93  2021
12      1            2,07  2022
13      2            2,12  2022
14      3            2,16  2022
15      4            2,31  2022
16      5            2,36  2022
17      6            2,40  2022
18      7            2,69  2022
19      8            2,89  2022
20      9            3,29  2022
21     10            3,66  2022
22     11            3,88  2022
23     12            3,99  2022
24      1            4,17  2023
25      2            4,19  2023
26      3            4,22  2023
27      4            4,38  2023
28      5            4,52  2023
29      6            4,69  2023
30      7            4,98  2023
31      8            5,19  2023
32      9            5,34  2023
33     10            5,46  2023
34     11            5,54  2023
35     12            5,56  2023

In [461]:
#Housing price index dataframe
bpi = pd.read_csv('../Nore/boligprisindeks.csv', sep = ';')
bpi

   Kvartal  Hele_landet  Trondheim
0   2005K1         53.4       53.8
1   2005K2         54.9       54.3
2   2005K3         55.4       55.0
3   2005K4         55.4       55.0
4   2006K1         58.9       59.0
..     ...          ...        ...
71  2022K4        137.4      131.1
72  2023K1        140.0      135.5
73  2023K2        145.5      138.5
74  2023K3        141.3      135.4
75  2023K4        136.4      131.4

[76 rows x 3 columns]

In [462]:

bpi['Year'] = bpi['Kvartal']
for i in range(len(bpi['Kvartal'])):
    bpi['Year'][i] = bpi['Kvartal'][i][:4]
    bpi['Kvartal'][i] = bpi['Kvartal'][i][5]

/var/folders/9d/bmjch7mj49gdkvs7r09zql1w0000gn/T/ipykernel_18334/3082895520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bpi['Year'][i] = bpi['Kvartal'][i][:4]
/var/folders/9d/bmjch7mj49gdkvs7r09zql1w0000gn/T/ipykernel_18334/3082895520.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bpi['Kvartal'][i] = bpi['Kvartal'][i][5]

In [463]:
bpi.rename(columns = {'Kvartal': 'Quarter',
                         'Hele_landet': 'HPI Norway',
                         'Trondheim': 'HPI Trondheim'}, inplace = True)
bpi.reset_index(inplace = True, drop= 'First')

In [464]:
years = ['2021', '2022', '2023']
HPI = bpi[bpi['Year'].isin(years)]
HPI['Year'] = HPI['Year'].astype(int)

/var/folders/9d/bmjch7mj49gdkvs7r09zql1w0000gn/T/ipykernel_18334/4285950707.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HPI['Year'] = HPI['Year'].astype(int)

In [465]:
HPI

   Quarter  HPI Norway  HPI Trondheim  Year
64       1       130.7          123.5  2021
65       2       137.0          128.5  2021
66       3       136.5          129.6  2021
67       4       133.9          129.8  2021
68       1       140.1          137.7  2022
69       2       145.7          139.7  2022
70       3       143.1          136.7  2022
71       4       137.4          131.1  2022
72       1       140.0          135.5  2023
73       2       145.5          138.5  2023
74       3       141.3          135.4  2023
75       4       136.4          131.4  2023

In [466]:
a = pd.concat([HPI] * 3 , ignore_index=True) 
a.sort_values(by= ['Year', 'Quarter'], inplace = True)
a['Quarter'] = a['Quarter'].astype(int)

In [467]:
a = a.reset_index(drop = True)

In [468]:
a['Month'] = 0

In [469]:
for i in range(3 * 12):
    a['Month'][i] = (i % 12) + 1

/var/folders/9d/bmjch7mj49gdkvs7r09zql1w0000gn/T/ipykernel_18334/1651690846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['Month'][i] = (i % 12) + 1

In [470]:
HPI = a
HPI

    Quarter  HPI Norway  HPI Trondheim  Year  Month
0         1       130.7          123.5  2021      1
1         1       130.7          123.5  2021      2
2         1       130.7          123.5  2021      3
3         2       137.0          128.5  2021      4
4         2       137.0          128.5  2021      5
5         2       137.0          128.5  2021      6
6         3       136.5          129.6  2021      7
7         3       136.5          129.6  2021      8
8         3       136.5          129.6  2021      9
9         4       133.9          129.8  2021     10
10        4       133.9          129.8  2021     11
11        4       133.9          129.8  2021     12
12        1       140.1          137.7  2022      1
13        1       140.1          137.7  2022      2
14        1       140.1          137.7  2022      3
15        2       145.7          139.7  2022      4
16        2       145.7          139.7  2022      5
17        2       145.7          139.7  2022      6
18        3       143.1          136.7  2022      7
19        3       143.1          136.7  2022      8
20        3       143.1          136.7  2022      9
21        4       137.4          131.1  2022     10
22        4       137.4          131.1  2022     11
23        4       137.4          131.1  2022     12
24        1       140.0          135.5  2023      1
25        1       140.0          135.5  2023      2
26        1       140.0          135.5  2023      3
27        2       145.5          138.5  2023      4
28        2       145.5          138.5  2023      5
29        2       145.5          138.5  2023      6
30        3       141.3          135.4  2023      7
31        3       141.3          135.4  2023      8
32        3       141.3          135.4  2023      9
33        4       136.4          131.4  2023     10
34        4       136.4          131.4  2023     11
35        4       136.4          131.4  2023     12

In [471]:
#Policy rate dataframe
pr = pd.read_excel('../Mats/boligm_info.xlsx')
pr = pr[19:]

In [472]:
pr

,Boliger i alt,Unnamed: 1,Prisindeks for brukte boliger,Boligendring,KPI,Endring KPI,Styringsrente,Styringsrente.1,Endring Styringsrente
19,NaN,2021,127.9,0.096951,116.1,0.033592,0.08,0.0008,-0.0028
20,NaN,2022,136.3,0.061629,122.8,0.054560,1.33,0.0133,0.0125
21,NaN,2023,135.2,-0.008136,129.6,0.052469,3.54,0.0354,0.0221

In [473]:
policy = pr.drop(columns = ['Styringsrente.1', 'Boliger i alt'])

In [474]:
policy.rename(columns = {'Unnamed: 1': 'Year',
                         'Prisindeks for brukte boliger': 'Average HPI',
                         'Boligendring': 'Change HPI',
                         'KPI': 'Average CPI',
                         'Endring KPI': 'Change CPI',
                         'Styringsrente': 'Policy rate',
                         'Endring Styringsrente': 'Change Policy rate'}, inplace = True)
policy['Year'] = policy['Year'].astype(int)
policy.reset_index(inplace = True, drop= 'First')

In [475]:
policy

,Year,Average HPI,Change HPI,Average CPI,Change CPI,Policy rate,Change Policy rate
0,2021,127.9,0.096951,116.1,0.033592,0.08,-0.0028
1,2022,136.3,0.061629,122.8,0.054560,1.33,0.0125
2,2023,135.2,-0.008136,129.6,0.052469,3.54,0.0221

In [476]:
merged_df = pd.merge(HPI, HLR, on = ['Year', 'Month'], how = 'inner')

In [477]:
HPI.head()

   Quarter  HPI Norway  HPI Trondheim  Year  Month
0        1       130.7          123.5  2021      1
1        1       130.7          123.5  2021      2
2        1       130.7          123.5  2021      3
3        2       137.0          128.5  2021      4
4        2       137.0          128.5  2021      5

In [478]:
HLR.head()

   Month Borrowing rate%  Year
0      1            1,78  2021
1      2            1,77  2021
2      3            1,77  2021
3      4            1,77  2021
4      5            1,76  2021

In [479]:
merged_df

    Quarter  HPI Norway  HPI Trondheim  Year  Month Borrowing rate%
0         1       130.7          123.5  2021      1            1,78
1         1       130.7          123.5  2021      2            1,77
2         1       130.7          123.5  2021      3            1,77
3         2       137.0          128.5  2021      4            1,77
4         2       137.0          128.5  2021      5            1,76
5         2       137.0          128.5  2021      6            1,75
6         3       136.5          129.6  2021      7            1,75
7         3       136.5          129.6  2021      8            1,74
8         3       136.5          129.6  2021      9            1,75
9         4       133.9          129.8  2021     10            1,86
10        4       133.9          129.8  2021     11            1,91
11        4       133.9          129.8  2021     12            1,93
12        1       140.1          137.7  2022      1            2,07
13        1       140.1          137.7  2022      2            2,12
14        1       140.1          137.7  2022      3            2,16
15        2       145.7          139.7  2022      4            2,31
16        2       145.7          139.7  2022      5            2,36
17        2       145.7          139.7  2022      6            2,40
18        3       143.1          136.7  2022      7            2,69
19        3       143.1          136.7  2022      8            2,89
20        3       143.1          136.7  2022      9            3,29
21        4       137.4          131.1  2022     10            3,66
22        4       137.4          131.1  2022     11            3,88
23        4       137.4          131.1  2022     12            3,99
24        1       140.0          135.5  2023      1            4,17
25        1       140.0          135.5  2023      2            4,19
26        1       140.0          135.5  2023      3            4,22
27        2       145.5          138.5  2023      4            4,38
28        2       145.5          138.5  2023      5            4,52
29        2       145.5          138.5  2023      6            4,69
30        3       141.3          135.4  2023      7            4,98
31        3       141.3          135.4  2023      8            5,19
32        3       141.3          135.4  2023      9            5,34
33        4       136.4          131.4  2023     10            5,46
34        4       136.4          131.4  2023     11            5,54
35        4       136.4          131.4  2023     12            5,56

In [480]:
print(type(merged_df['Year'][0]))
print(type(policy['Year'][0]))

<class 'numpy.int64'>
<class 'numpy.int64'>

In [481]:
policy

,Year,Average HPI,Change HPI,Average CPI,Change CPI,Policy rate,Change Policy rate
0,2021,127.9,0.096951,116.1,0.033592,0.08,-0.0028
1,2022,136.3,0.061629,122.8,0.054560,1.33,0.0125
2,2023,135.2,-0.008136,129.6,0.052469,3.54,0.0221

In [482]:
macro = pd.merge(merged_df, policy, on = ['Year'], how = 'inner')

In [483]:
macro

,Quarter,HPI Norway,HPI Trondheim,Year,Month,Borrowing rate%,Average HPI,Change HPI,Average CPI,Change CPI,Policy rate,Change Policy rate
0,1,130.7,123.5,2021,1,"1,78",127.9,0.096951,116.1,0.033592,0.08,-0.0028
1,1,130.7,123.5,2021,2,"1,77",127.9,0.096951,116.1,0.033592,0.08,-0.0028
2,1,130.7,123.5,2021,3,"1,77",127.9,0.096951,116.1,0.033592,0.08,-0.0028
3,2,137.0,128.5,2021,4,"1,77",127.9,0.096951,116.1,0.033592,0.08,-0.0028
4,2,137.0,128.5,2021,5,"1,76",127.9,0.096951,116.1,0.033592,0.08,-0.0028
5,2,137.0,128.5,2021,6,"1,75",127.9,0.096951,116.1,0.033592,0.08,-0.0028
6,3,136.5,129.6,2021,7,"1,75",127.9,0.096951,116.1,0.033592,0.08,-0.0028
7,3,136.5,129.6,2021,8,"1,74",127.9,0.096951,116.1,0.033592,0.08,-0.0028
8,3,136.5,129.6,2021,9,"1,75",127.9,0.096951,116.1,0.033592,0.08,-0.0028
9,4,133.9,129.8,2021,10,"1,86",127.9,0.096951,116.1,0.033592,0.08,-0.0028
10,4,133.9,129.8,2021,11,"1,91",127.9,0.096951,116.1,0.033592,0.08,-0.0028
11,4,133.9,129.8,2021,12,"1,93",127.9,0.096951,116.1,0.033592,0.08,-0.0028
12,1,140.1,137.7,2022,1,"2,07",136.3,0.061629,122.8,0.054560,1.33,0.0125
13,1,140.1,137.7,2022,2,"2,12",136.3,0.061629,122.8,0.054560,1.33,0.0125
14,1,140.1,137.7,2022,3,"2,16",136.3,0.061629,122.8,0.054560,1.33,0.0125
15,2,145.7,139.7,2022,4,"2,31",136.3,0.061629,122.8,0.054560,1.33,0.0125
16,2,145.7,139.7,2022,5,"2,36",136.3,0.061629,122.8,0.054560,1.33,0.0125
17,2,145.7,139.7,2022,6,"2,40",136.3,0.061629,122.8,0.054560,1.33,0.0125
18,3,143.1,136.7,2022,7,"2,69",136.3,0.061629,122.8,0.054560,1.33,0.0125
19,3,143.1,136.7,2022,8,"2,89",136.3,0.061629,122.8,0.054560,1.33,0.0125
20,3,143.1,136.7,2022,9,"3,29",136.3,0.061629,122.8,0.054560,1.33,0.0125
21,4,137.4,131.1,2022,10,"3,66",136.3,0.061629,122.8,0.054560,1.33,0.0125
22,4,137.4,131.1,2022,11,"3,88",136.3,0.061629,122.8,0.054560,1.33,0.0125
23,4,137.4,131.1,2022,12,"3,99",136.3,0.061629,122.8,0.054560,1.33,0.0125
24,1,140.0,135.5,2023,1,"4,17",135.2,-0.008136,129.6,0.052469,3.54,0.0221
25,1,140.0,135.5,2023,2,"4,19",135.2,-0.008136,129.6,0.052469,3.54,0.0221
26,1,140.0,135.5,2023,3,"4,22",135.2,-0.008136,129.6,0.052469,3.54,0.0221
27,2,145.5,138.5,2023,4,"4,38",135.2,-0.008136,129.6,0.052469,3.54,0.0221
28,2,145.5,138.5,2023,5,"4,52",135.2,-0.008136,129.6,0.052469,3.54,0.0221
29,2,145.5,138.5,2023,6,"4,69",135.2,-0.008136,129.6,0.052469,3.54,0.0221
30,3,141.3,135.4,2023,7,"4,98",135.2,-0.008136,129.6,0.052469,3.54,0.0221
31,3,141.3,135.4,2023,8,"5,19",135.2,-0.008136,129.6,0.052469,3.54,0.0221
32,3,141.3,135.4,2023,9,"5,34",135.2,-0.008136,129.6,0.052469,3.54,0.0221
33,4,136.4,131.4,2023,10,"5,46",135.2,-0.008136,129.6,0.052469,3.54,0.0221
34,4,136.4,131.4,2023,11,"5,54",135.2,-0.008136,129.6,0.052469,3.54,0.0221
35,4,136.4,131.4,2023,12,"5,56",135.2,-0.008136,129.6,0.052469,3.54,0.0221

In [486]:
macro.drop(columns =['Quarter', 'Average HPI', 'Change HPI'], inplace = True)

In [487]:
macro.head()

,HPI Norway,HPI Trondheim,Year,Month,Borrowing rate%,Average CPI,Change CPI,Policy rate,Change Policy rate
0,130.7,123.5,2021,1,"1,78",116.1,0.033592,0.08,-0.0028
1,130.7,123.5,2021,2,"1,77",116.1,0.033592,0.08,-0.0028
2,130.7,123.5,2021,3,"1,77",116.1,0.033592,0.08,-0.0028
3,137.0,128.5,2021,4,"1,77",116.1,0.033592,0.08,-0.0028
4,137.0,128.5,2021,5,"1,76",116.1,0.033592,0.08,-0.0028

In [488]:
macro.to_csv('../Felles/macrodata.csv', index = False)